<div class="grid-container" *ngIf="pokemons.length > 0">
  <div class="grid-item" *ngFor="let pokemon of pokemons">
    <div class="pokemon-container">
      <h2>{{ pokemon.name }}</h2>
      <img [src]="getImageUrl(pokemon.id)" alt="{{ pokemon.name }}" />
      <p>Height: {{ pokemon.height }}</p>
      <p>Weight: {{ pokemon.weight }}</p>
      <p>Pokemon types:</p>
      <div class="types">
        <app-pokemon-type
          *ngFor="let type of pokemon.types"
          [type]="type"
        ></app-pokemon-type>
      </div>
    </div>
  </div>
</div>
<div class="load-more-container">
  <button (click)="loadMore()">Load More</button>
</div>
