<div class="grid-container" *ngIf="pokemons.length > 0">
  <div class="grid-item" *ngFor="let pokemon of pokemons">
    <div class="pokemon-container">
      <h2>{{ pokemon.name }}</h2>
      <img [src]="getImageUrl(pokemon.id)" alt="{{ pokemon.name }}" />
      <p>Height: {{ pokemon.height }}</p>
      <p>Weight: {{ pokemon.weight }}</p>
      <p>Types: {{ pokemon.types.join(", ") }}</p>
      <p>Family: {{ pokemon.family }}</p>
    </div>
  </div>
</div>
<button (click)="loadMore()" *ngIf="pokemons.length % 12 === 0">
  Load More
</button>
