.add-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-pokemon form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.add-pokemon label {
  font-weight: bold;
}

.add-pokemon input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-pokemon button {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-pokemon button:hover {
  background-color: darkblue;
}
