.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.pokemon-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-pokemon-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.type-box {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  margin-bottom: 10px;
}

.Normal {
  background-color: #a8a878;
}

.Fire {
  background-color: #f08030;
}

.Water {
  background-color: #6890f0;
}

.Electric {
  background-color: #f8d030;
}

.Grass {
  background-color: #78c850;
}

.Ice {
  background-color: #98d8d8;
}

.Fighting {
  background-color: #c03028;
}

.Poison {
  background-color: #a040a0;
}

.Ground {
  background-color: #e0c068;
}

.Flying {
  background-color: #a890f0;
}

.Psychic {
  background-color: #f85888;
}

.Bug {
  background-color: #a8b820;
}

.Rock {
  background-color: #b8a038;
}

.Ghost {
  background-color: #705898;
}

.Dark {
  background-color: #705848;
}

.Dragon {
  background-color: #7038f8;
}

.Steel {
  background-color: #b8b8d0;
}

.Fairy {
  background-color: #ee99ac;
}
