.not-found-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.not-found-container h1 {
  font-size: 6em;
  margin-bottom: 20px;
  margin-top: 0px;
}

.not-found-container p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.not-found-container a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
}

.not-found-container a:hover {
  background-color: #0056b3;
}
