.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
}

.title {
  margin-bottom: 20px; 
}

.card {
  max-width: 600px;
  padding: 55px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); 
  border-radius: 10px; 
  text-align: center;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:first-of-type {
  margin-right: 10px;
}

button:last-of-type {
  margin-left: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
